@import '../../../Styles/common.scss';

.QualityBadges {
  .quality-badges-container {
    @extend %flex-center;
    justify-content: space-around;
    padding: 80px 500px;
    background-color: $dimbeige-color;

    .badge-card {
      @extend %flex-center;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      width: 170px;

      .badge-image {
        display: block;
        width: 42px;
        margin-bottom: 20px;
      }

      .badge-name {
        color: $black-color;
        text-align: center;
        font-size: 16px;
        font-family: 'Lato';
        line-height: 24px;
      }
    }
  }
}
