// {
//   "extends": ["react-app", "plugin:prettier/recommended"],
//   "plugins": ["prettier"],
//   "rules": {
//     "prettier/prettier": "error"
//   }
// }

{
  "plugins": ["prettier"],
  "extends": [
    "prettier",
    "prettier/@typescript-eslint"
    // "plugin:@typescript-eslint/recommended",
  ],
  "parser": "babel-eslint"
}
