@import '../../Styles/common.scss';

.Main {
  font-family: 'Lato';
  .main-view-container {
    width: 100%;
    height: 1000px;
    background-image: url('https://images.unsplash.com/photo-1463927982149-8c6a3020594e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80');
    background-color: $lightSky-color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .main-view-text {
      padding-top: 100px;
      text-align: center;

      .main-view-header {
        width: 500px;
        margin: 0px auto 20px;
        font-family: 'Newsreader', serif;
        font-size: 50px;
        line-height: 55px;
      }

      .main-view-subheader {
        width: 450px;
        margin: 0px auto 30px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
      }

      .quiz-button {
        padding: 18px 40px;
        margin-bottom: 25px;
        border: 0;
        border-radius: 40px;
        color: $white-color;
        background-color: black;
        font-size: 18px;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s;

        &:hover {
          color: black;
          background-color: $white-color;
          transition: color 0.4s ease 0s, background-color 0.4s ease 0s;
        }
      }

      .product-link {
        display: block;
        color: black;
        font-size: 15px;
        text-decoration: none;
        text-align: center;
        transition: color 0.1s ease 0s, border-color 0.1s ease 0s;
        overflow: hidden;

        &:hover {
          color: $main-color;
          animation: 0.3s linear 0s 1 normal none running slide;
        }
      }
    }
  }

  .main-point-container {
    width: 100%;
    padding: 100px 0;
    background-color: $white-color;
    text-align: center;

    .main-point-header {
      width: 500px;
      margin: 0 auto 60px;
      font-size: 32px;
      line-height: 40px;
    }

    .point-content {
      @extend %flex-center;
      justify-content: space-around;
      width: 1200px;
      margin: 0 auto;
    }
  }
}
