@import '../../Styles/common.scss';

.Main {
  font-family: 'Lato';

  .main-view-content {
    width: auto;
    height: 900px;
    background-color: aqua;
    background-image: url('https://images.unsplash.com/photo-1463927982149-8c6a3020594e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1489&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .main-view-text {
      @extend %flex-center;
      padding-top: 100px;

      .main-view-header {
        font-family: 'Newsreader', serif;
        font-size: 50px;
      }
    }
  }
}
