@import '../../Styles/common.scss';

.Quiz {
  background-color: #fef4ec;
  padding: 150px 16px;
  .quiz-container {
    // @extend %flex-center;
    position: relative;
    width: 800px;
    // height: 300px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: white;
    // border: 1px solid black;
    text-align: center;
    // box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
  }
}
