@import '../../Styles/common.scss';

.productList {
  width: 100%;
  padding-top: 144px;

  section {
    @extend %flex-center;

    .wrapper {
      @extend %flex-center;
      align-items: start;
      width: 1200px;

      .productCardsGroup {
        // flex-grow: 1;
        // width: fit-content;
        width: 900px;
      }
    }
  }
}
