@import '../../../Styles/common.scss';

.Question {
  position: relative;
  width: 900px;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);

  h5 {
    margin-bottom: 30px;
    color: #999999;
    font-size: 16px;
  }

  h2 {
    margin-bottom: 5px;
    color: $black-color;
    font-family: 'Newsreader';
    font-size: 45px;
    font-weight: 400;
  }

  p {
    color: $main-color;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .textbox {
    @extend %flex-center;
    width: 100%;
    margin: 30px auto;
    padding: 30px 0;

    input {
      padding: 0 40px;
      font-size: 34px;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
    }

    button {
      height: 45px;
      border: none;
      border-radius: 30px;
      margin-left: 20px;
      padding: 0 20px;
      color: white;
      background-color: #7f848b;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }

    label {
      input {
        width: 50%;
        padding-left: 5px;
      }
    }
  }

  .two-textbox {
    @extend %flex-center;
    flex-direction: column;
    width: 100%;
    margin: 18px auto;
    padding: 30px 0;

    label {
      input {
        padding: 0 40px;
        margin-bottom: 20px;
        font-size: 32px;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
      }
    }

    button {
      height: 45px;
      border: none;
      border-radius: 30px;
      margin-left: 20px;
      padding: 0 20px;
      color: white;
      background-color: #7f848b;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }

  ul {
    text-align: left;
    margin: 10px auto;
    li {
      margin-bottom: 10px;
      label {
        padding-left: 85px;
        line-height: 20px;
        font-size: 25px;

        input {
          margin-right: 10px;
        }
      }
    }
  }

  .checkbox-btn {
    height: 45px;
    padding: 0 30px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #7f848b;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
}
