@import '../../Styles/common.scss';

.ProductDetail {
  background-color: $beige-color;

  .product-nav {
    position: sticky;
    top: 0px;
    background-color: transparent;
    z-index: 1;

    .nav-container {
      @extend %flex-center;
      border: 3px solid brown;
      height: 80px;
      margin-bottom: -80px;
    }
  }

  .nav-activity {
    opacity: 1;
    transform: scaleY(1);
  }

  .nav-inactivity {
    opacity: 0;
    transform: scaleY(0);
  }

  .similar-product-container {
    padding: 160px 0;
    text-align: center;

    h2 {
      display: block;
      font-family: 'Newsreader', serif;
      font-size: 88px;
      line-height: 113px;
    }

    h3 {
      color: #7f848b;
      font-family: 'Newsreader', serif;
      font-size: 24px;
      line-height: 40px;
    }

    .product-card-container {
      display: flex;
      justify-content: center;
      width: auto;
      margin: 100px 0 0 150px;

      .similar-product-card {
        text-align: left;
        margin-left: 0px;
        // max-width: 340px;

        &:first-child {
          margin: 0px;
        }

        .image-wrap {
          display: table;
          width: 50%;

          .card-image {
            padding: 50% 0;
            height: 0;

            img {
              display: block;
              width: 400px;
              margin-top: -50%;
              transform-origin: top left;
              transform: rotate(90deg) translate(0, -100%);
              white-space: nowrap;
            }
          }
        }

        ul {
          display: flex;
          margin-top: 30px;

          li {
            display: block;
            text-transform: uppercase;
            line-height: 16px;
            font-size: 12px;
            font-weight: 700;

            &::before {
              content: '•';
              color: rgb(127, 132, 139);
              margin: 0px 10px;
            }

            &:first-child::before {
              content: '';
              margin: 0;
            }
          }
        }

        h3 {
          color: $black-color;
          margin-top: 40px;
          font-size: 32px;
          font-weight: 400;
          line-height: 45px;
        }

        h4 {
          margin-top: 5px;
          color: #7f848b;
          font-size: 18px;
          line-height: 34px;
        }
      }
    }
  }
}
