@import '../../Styles/common.scss';

.Review {
  @extend %flex-center;
  flex-direction: column;
  margin-top: 150px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;

  header {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 30px;
    text-indent: 1px;
    font-weight: bolder;
    font-size: 32px;

    label {
      color: rgba(0, 0, 0, 0.3);
      font-size: 18px;
    }
  }

  .review_form {
    width: 950px;
    min-height: 250px;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 30px;
    padding-bottom: 30px;

    .left_content {
      padding-left: 30px;
      padding-right: 40px;

      .user_name {
        font-weight: bolder;
        font-size: 18px;

        p {
          width: 210px;
        }
      }

      img {
        padding-top: 40px;
        width: 110px;
        height: 150px;
      }
    }

    .right_content {
      width: 100%;

      span {
        display: block;
        padding-bottom: 20px;
        color: black;
        font-size: 30px;
      }

      img {
        padding-bottom: 20px;
      }
      .rating_title {
        font-size: 20px;
      }
      .review_content {
        padding-top: 30px;
        line-height: 1.6;
        font-size: 16px;
      }
      .date {
        padding-top: 20px;
        line-height: 1.6;
        color: rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
      }
    }
  }
}
