@import '../../../Styles/common.scss';

.productCardsGroup {
  padding-top: 60px;
  font-family: 'Lato', sans-serif;
  // background-color: pink;
  padding: 60px 20px 0 20px;

  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 48px;
  }
}
