@import '../../../Styles/common.scss';

.productCardsGroup {
  font-family: 'Lato', sans-serif;
  padding: 60px 20px 0 20px;

  h1 {
    margin-bottom: 48px;
    font-size: 30px;
    font-weight: 700;
  }
}
