@import '../../../../Styles/common.scss';

.productCards {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 50px;

  & > div {
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .productCover {
    position: relative;
    width: 272px;
    height: 477px;
    padding: 80px 25px;
    box-sizing: border-box;
    color: #212121;
    border-radius: 6px;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -9999;
    }

    h3 {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      line-height: 1.56;
    }
  }

  .productCard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    //card design
    width: 272px;
    height: 477px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #212121;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15),
        0px 1px 2px 0px rgba(0, 0, 0, 0.16);

      .productCard__text-block {
        border-color: white;
      }

      .productCard__bottom {
        border-color: #fdf9f8;
      }
    }

    .productCard__header {
      position: relative;
      height: 163px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      overflow: hidden;

      .new {
        position: absolute;
        top: 24px;
        left: 24px;
        display: inline-block;
        padding: 5px 10px;
        color: $white-color;
        background-color: $main-color;
        border-radius: 12px;
        font-size: 12px;
      }

      & > img {
        width: 100%;
        height: 100%;
      }

      .symbols {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 62px;
        padding: 16px 22px;

        img {
          width: 15px;
          margin-right: 8px;
        }
      }
    }

    .productCard__text-block {
      flex-grow: 1;
      height: 204px;
      padding: 24px 24px 0 24px;
      border-left: 2px solid #f5f1ed;
      border-right: 2px solid #f5f1ed;

      h2 {
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: 700;
      }

      p {
        margin-bottom: 10px;
        color: #00000066;
        font-size: 16px;
      }

      ul {
        padding: 16px 0;
        color: #7f7f7f;
        font-size: 14px;

        li {
          display: flex;
          align-items: flex-start;
          margin-bottom: 4px;
          line-height: 25px;
          display: none;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            display: flex;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &::before {
            content: '';
            display: inline-block;
            background-color: #7f7f7f;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            margin-right: 3px;
            position: relative;
            top: 11px;
          }
        }
      }
    }

    .productCard__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px;
      border: 2px solid #f5f1ed;
      border-top: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      transition: background-color 0.3s ease;

      p {
        font-size: 16px;
      }

      button {
        border: none;
        color: $main-color;
        background-color: inherit;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;

        &:disabled {
          color: rgb(163, 163, 163);
          cursor: default;
        }
      }

      &:hover {
        background-color: #fdf9f8;
      }
    }
  }
}
