@import '../../Styles/common.scss';

.Nav {
  font-family: 'Lato';

  nav {
    @extend %flex-center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;

    &:hover {
      background-color: $white-color;
      transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;

      .logo {
        color: $main-color;
      }
    }

    .logo {
      font-size: 32px;
    }

    .nav-container {
      @extend %flex-center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 0 1.125rem;
      margin: 0 18;

      .nav-left-container,
      .nav-right-container {
        display: flex;
        height: 100%;

        li {
          display: flex;
          align-items: center;
          width: initial;
          height: 100%;
          font-size: 0.75rem;
          font-weight: 700;
          letter-spacing: 0.125rem;
          text-align: center;

          &:last-child {
            margin-right: 0;
          }
        }
      }
      .nav-left-container {
        .nav-item {
          margin-right: 2.5rem;
          // background-color: aqua;
          cursor: pointer;

          &:hover {
            span {
              color: $main-color;
            }
          }

          .dropdown-menu {
            display: flex;
            position: absolute;
            top: calc(100% - 0.625rem);
            padding: 40px 0 40px 40px;
            border-radius: 10px;
            background: $white-color;

            .dropdown-link-column {
              letter-spacing: 0.125rem;
              margin-right: 40px;

              h4 {
                margin-bottom: 1.25rem;
                font-size: 0.75rem;
                text-align: left;
              }

              li {
                margin-bottom: 0.25rem;

                a {
                  color: $black-color;
                  font-size: 1rem;
                  line-height: 2rem;
                  font-weight: normal;
                  text-decoration: none;
                }

                &:last-child {
                  color: $main-color;
                }
              }
            }
          }
        }
        &:first-child {
          flex: 4 1 0%;
        }
      }

      .nav-right-container {
        justify-content: flex-end;
        li {
          margin: 0px 0.75rem;
          cursor: pointer;

          &:hover {
            color: $main-color;
          }

          img {
            width: 32px;
          }

          button {
            padding: 0.75rem 2rem;
            border: 0.125rem solid $main-color;
            border-radius: 6.25rem;
            color: $white-color;
            background-color: $main-color;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
              color: $main-color;
              background-color: $white-color;
            }
          }
        }
        &:last-child {
          flex: 4 1 0%;
        }
      }
    }
  }
  .nav-transparent {
    transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
    background-color: transparent;
  }

  .nav-white {
    transition: background-color 0.3s linear 0s, box-shadow 0.3s linear 0s;
    background-color: $white-color;

    .logo {
      color: $main-color;
    }
  }
}
